html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/*Custom*/

.debt-header {
  background: rgb(36, 41, 46);
  margin-bottom: 1.45rem;
}

.main-content, .header-container{
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem;
}

.path-icon-color{
  fill: #ff4630;
}

.repos-list{
  padding: 0;
}

.users-list{
  padding-left: 12px;
}

.repos-list a {
  color: #0366d6;
  text-decoration: none;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}